# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/curso_em_video/primeiroPrograma/target/
/curso_em_video/primeiroscomandos/target/
/curso_tecnico/atvd_1/PrimeiroProblema/nbproject/private/
/curso_tecnico/atvd_1/PrimeiroProblema/build/
/curso_tecnico/atvd_1/primeiroproblema/nbproject/private/
/curso_tecnico/atvd_1/primeiroproblema/dist/
/curso_tecnico/atvd_1/primeiroproblema/build/
/curso_tecnico/atvd_1/JavaApplication/nbproject/private/
/curso_tecnico/atvd_1/JavaApplication/build/
/curso_tecnico/atvd_1/problema1/nbproject/private/
/curso_tecnico/atvd_1/problema1/build/
/curso_tecnico/atvd_1/problema2/nbproject/private/
/curso_tecnico/atvd_1/problema2/build/
/curso_tecnico/atvd_1/problema3/nbproject/private/
/curso_tecnico/atvd_1/problema3/build/
/curso_tecnico/atvd_1/problema4/nbproject/private/
/curso_tecnico/atvd_1/problema4/build/
/curso_tecnico/atvd_1/problema5/nbproject/private/
/curso_tecnico/atvd_1/problema5/build/
/curso_tecnico/atvd_1/problema5/dist/
/curso_em_video/orientacaoaobjetos/nbproject/private/
/curso_em_video/orientacaoaobjetos/build/
/curso_em_video/testealuno/build/
/curso_em_video/testealuno/nbproject/private/
/curso_em_video/testeempresa/nbproject/private/
/curso_tecnico/atvd_2/atividade2/nbproject/private/
/curso_tecnico/atvd_2/atividade2/build/
/curso_tecnico/atvd_2/atividade2/dist/
/curso_tecnico/atvd_2/CemExercicios/nbproject/private/
/curso_tecnico/atvd_2/CemExercicios/build/
/curso_tecnico/atvd_2/Cem_Exercicios/target/
/curso_tecnico/atvd_2/primeiroscomandospoo/nbproject/private/
/curso_tecnico/atvd_2/primeiroscomandospoo/build/
/curso_tecnico/atvd_2/teste2poo/nbproject/private/
/curso_tecnico/praticando/primeiroscomandospoo/nbproject/private/
/curso_tecnico/praticando/teste2poo/nbproject/private/
/curso_tecnico/praticando/teste2poo/build/
/curso_tecnico/atvd_2/teste3poo/nbproject/private/
/curso_tecnico/atvd_2/teste3poo/build/
/curso_tecnico/atvd_2/teste4poo/nbproject/private/
/curso_tecnico/atvd_2/teste4poo/build/
/curso_tecnico/atvd_2/teste5poo/nbproject/private/
/curso_tecnico/atvd_2/teste5poo/build/
/curso_tecnico/atvd_2/testepoo/nbproject/private/
/curso_tecnico/atvd_2/testepoo/build/
/curso_tecnico/praticandopoo/primeiroscomandospoo/nbproject/private/
/curso_tecnico/praticandopoo/teste2poo/nbproject/private/
/curso_tecnico/praticandopoo/teste3poo/nbproject/private/
/curso_tecnico/praticandopoo/teste4poo/nbproject/private/
/curso_tecnico/praticandopoo/teste5poo/nbproject/private/
/curso_tecnico/praticandopoo/testepoo/nbproject/private/
/curso_tecnico/atvd_2/teste6poo/nbproject/private/
/curso_tecnico/atvd_2/teste6poo/build/
/curso_tecnico/praticandopoo/teste1poo/nbproject/private/
/curso_tecnico/praticandopoo/teste6poo/nbproject/private/
/curso_tecnico/atvd_3/atividade3/nbproject/private/
/curso_tecnico/atvd_3/atividade3/build/
/curso_tecnico/atvd_3/atividadeterceira/nbproject/private/
/curso_tecnico/atvd_3/atividadeterceira/build/
/curso_tecnico/atvd_4/atividade4/nbproject/private/
/curso_tecnico/atvd_4/atividade4/build/
/curso_tecnico/atvd_4/atividade4/dist/
/curso_tecnico/atvd_3/atividade3/dist/
/curso_tecnico/atvd_5/atividade5/nbproject/private/
/curso_tecnico/atvd_5/atividade5/build/
/curso_em_video/Cem_Exercicios/target/
/curso_tecnico/mod2.2/atvd_3/problema/nbproject/private/
/curso_tecnico/mod2.2/atvd_3/problema/build/
/Praticando/Praticando Interfaces com Swing/estudandointerfaces/build/
/Curso Técnico - SENAC/Módulo Desenvolver e organizar interfaces gráficas para aplicações desktop/Atividade 1/atividade1/nbproject/private/
/Curso Técnico - SENAC/Módulo Desenvolver e organizar interfaces gráficas para aplicações desktop/Atividade 1/atividade1/build/
/Praticando/Praticando Interfaces com Swing/estudandointerfaces/nbproject/private/
/Praticando/Praticando Interfaces com Swing/estudandointerfaces/terceirainterface/nbproject/private/
/Praticando/Praticando Interfaces com Swing/PortaldoAluno/nbproject/private/
/Praticando/Praticando Interfaces com Swing/PortaldoAluno/build/
/Praticando/Praticando Interfaces com Swing/portalaluno/build/
/Praticando/Praticando Interfaces com Swing/portalaluno/nbproject/private/
/Praticando/Praticando Tratamento de Exceções/tratandoexceções/nbproject/private/
/Praticando/Praticando Tratamento de Exceções/tratandoexceções/build/
/Praticando/Praticando Interfaces com Swing/novoportalaluno/nbproject/private/
/Praticando/Praticando Interfaces com Swing/novoportalaluno/build/
/Curso Técnico - SENAC/Módulo Desenvolver e organizar interfaces gráficas para aplicações desktop/Atividade 2/atividade2/nbproject/private/
/Curso Técnico - SENAC/Módulo Desenvolver e organizar interfaces gráficas para aplicações desktop/Atividade 2/atividade2/build/
